<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=yes">
        <script>
            ROOM_ID = "<%= roomId %>"
        </script>

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <!-- SCRIPTS -->
        <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="/script.js" defer></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/style.css">

        <!-- fontAwesome-->
    <script
    src="https://kit.fontawesome.com/4da3f1c584.js"
    crossorigin="anonymous"
  ></script>

        <title id="pageTitle">Video Room: </title>

        <style>
            #video-grid{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                /* another option is to have the following: 
                display: grid;
                grid-template-columns: repeat(auto-fill, 300px);
                grid-auto-rows: 300px;
                */
            }
            video{
                height: 235px;
                width: 300px;
                object-fit: cover;
                padding: 8px;
                /* another option is to have the following:
                width: 100%;
                height: 100%;             
                */
            }

            /* video is NOT visible on mobile, fix it! */
            @media only screen and (max-width: 600px) {
                #video-grid{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, auto);
                    grid-auto-rows: auto;
                }
                video{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    padding: 8px;
                }

            }
        </style>
    </head>
    <body>
        <div class="main">

            <!-- VIDEO  -->
            <div class="main__left">
                <div class="main__videos">
                    <div id="video-grid"></div>
                </div>
            </div>

            <!-- CHAT/PARTICIPANTS -->
            <div class="main__right">
                <div class="participant__list"></div>
                
                <!-- CHAT -->
                <div class="main__header">
                    <h6>Chat</h6>
                </div>
                <div class="main__chat_window">
                    <ul class="messages"></ul>
                </div>

                <div class="main__message_container">
                    <input id="chat_message" type="text" placeholder="Type message here...">
                </div>
            </div>
        </div>

         <!-- CONTROLS FOR VIDEO & CHAT -->
         <div class="main__controls">
             <!-- Audio/Video -->
            <div class="main__controls__block">

                <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
                    <i class="fas fa-microphone"></i>
                    <span>Mute</span>
                </div>

                <div onclick="playStop()" class="main__controls__button main__video_button" >
                    <i class="fas fa-video"></i>
                    <span>Stop Video</span>
                </div>

            </div>

            <!-- Participation/Chat -->
            <div class="main__controls__block">

                <div class="main__controls__button">
                    <i class="fas fa-shield-alt"></i>
                    <span>Security</span>
                </div>

                <div class="main__controls__button participant__list_button" onclick="showParticipants()">
                    <i class="fas fa-user-friends"></i>
                    <span>Participants</span>
                </div>

                <div class="main__controls__button main__chat_button" onclick="showHideChat()">
                    <i class="fas fa-comment-alt"></i>
                    <span>Chat</span>
                </div>

            </div>

            <!-- Exit -->
            <div class="main__controls__block">
                <div class="main__controls__button" onclick="exitMeeting()">
                    <span class="leave_meeting">Exit</span>
                </div>
            </div>

        </div>
    </body>
</html>