.main {
  height: 89vh;
  display: flex;
}

.main__left {
  display: flex;
  flex-direction: column;
}

.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.room_url {
  background-color: #1f1f1f;
  color: #f5f5ff;
  font-size: 14px;
  text-align: center;
  padding: 6px;
  cursor: pointer;
}

.room_url h6 {
  margin: 0;
}

.room_url span {
  color: #949494;
}

.main__controls {
  background-color: #1c1e20;
  display: flex;
}

.main__right {
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main__controls {
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main__controls__block {
  height: auto;
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 1.15rem;
}

.main__right {
  display: flex;
  flex-direction: column;
}

.main__header {
  padding-top: 5px;
  color: #f5f5f5;
  text-align: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: white;
  list-style: none;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.leave_meeting {
  color: #eb534b;
}

.unmute,
.stop {
  color: #cc3b33;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1c1e20;
  color: #d2d2d2;
  font-size: xx-large;
}

.greeting {
  color: #f5f5f5;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 50px;
}

body {
  background-color: #1c1e20;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  color: #d2d2d2;
}

#loggedin_text {
  display: none;
}

#login_out_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#btn-userInfo {
  margin-left: 10px;
}

#userName {
  float: left;
}

#userInfo {
  display: inline-flexbox;
}

ul {
  list-style-type: none;
}

#chatRoomsList {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

#chatMessageInput {
  display: inline-flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.25rem;
}

#sendMessageChatBtn {
  margin-left: 10px;
  font-size: 1.25rem;
  padding: auto;
}

.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  font-size: 1.25rem;
  flex-grow: 1;
  overflow-y: auto;
}

.message-area {
  justify-content: left;
  align-items: left;
  font-size: 1.25rem;
  flex-grow: 1;
  overflow-y: auto;
  float: inline-start;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  flex-direction: column;
}

.typing-area {
  padding: 22px 12px;
  display: flex;
}

.typing-area input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

@media only screen and (max-width: 1024px) {
  video {
    width: 320px;
  }
  .main_controls_button i,
  span {
    font-size: 16px;
  }
  .main_controls_button {
    min-width: 47px;
  }
}

@media only screen and (max-width: 640px) {
  video {
    width: 210px;
  }
  .main_controls_button i,
  span {
    font-size: 16px;
  }
  .main_controls_button span {
    display: none;
  }
  .main_controls_button.leave_meeting span {
    display: block;
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  video {
    width: 160px;
  }
}

#callOptionsDiv,
#videoCallDiv {
  display: none;
}

/* for success.html we will add background video to the container */
.background-image-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image-section h1 {
  text-align: center;
  font-weight: 500;
  padding: 10px;
  margin: 15px;
  opacity: 0.75;
  z-index: 1;
  display: block;
  position: absolute;
  top: 5%;
}

.background-image-section h1:hover {
  opacity: 1;
}

.background-image-section p {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 10px;
  margin: 15px;
  z-index: 1;
  display: block;
  position: absolute;
  top: 20%;
}

.background-image-section button {
  z-index: 1;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  position: absolute;
  top: 40%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1c1e20;
  opacity: 0.7;
}

#videoRooms {
  margin-bottom: 10px;
}

#createVideoCallButton {
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 30px;
}

#callOptionsDiv {
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 30px;
}

#videoCallDiv {
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 30px;
}

#videoRoomsList li {
  padding: 8px;
  font-size: 1.25rem;
  color: #2f2e2f;
}

#videoCallListItem {
  margin-bottom: 50px;
}
